html, body {
	width: 100%;
	height: 100%;
	margin: 0;

	overflow: hidden;
	cursor: none;
}

#hero-canvas {
	position: absolute;
	z-index: 2;
}

#field-canvas {
	position: absolute;
	z-index: 1;
}

#hero-hp {
	position: absolute;
	top: 16px;
	left: 16px;

	font-size: 32px;

	opacity: 0.8;

	z-index: 3;
}